.promoCard {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(141, 141, 141, 0.25);
  overflow: hidden;
}

.promoIcon {
  position: relative;
  width: 100%;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5d36af;
  background: #f5f0fc;
}

.promoImage {
  object-fit: cover;
}

.promoContent {
  padding: 12px;

  h4 {
    margin: 0 0 6px;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
  }

  p {
    margin: 0 0 10px;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
  }

  button {
    width: 100%;
    border: 1px solid #5D36AF;
    border-radius: 4px;
    background: #fdfbff;
    color: #5d36af;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 10px;
    cursor: pointer;
    height: 35px;
  }
}
