@font-face {
	font-family: "Segoe UI";
	src: url("/fonts/segoe.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

html {
	margin: 0;
	overflow-x: hidden;
}
body {
	background: #ffffff;
	font-family: "Segoe UI", sans-serif !important;
	min-height: 100vh;
	margin: 0;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
